.git
.github
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.log
logs/
config/example_settings.ini
config/settings.ini
config/settings.ini.dev
config/*.log
*.swp
*.swo
.DS_Store
ffmpeg.exe
start.bat
config/settings.ini*
config/lavalink_nodes.json
cogs/api.py
cogs/integrations/primebots.py.disabled
guilds.txt
